body {
  margin: 0;
  font-family: 'Anybody', cursive;
  font-family: 'BIZ UDGothic', sans-serif;
  font-family: 'Red Hat Mono', monospace;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bolder;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
